extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/contacto.css")
block scripts

block content


  .container.segment.animated.fadeIn
    .title Contacto
  .container
    .row.contact
      .d-flex.align-items-center.col-md-6
          h3.text-center.animated.fadeInUp hola@greenshark.com.mx
      .col-md-6.form-contact
        form(action='/form-submitted',method='post')
          <div class="g-recaptcha" data-sitekey="6LcguBsUAAAAAB_TXZTNQ_dDYXvkN30wETZsUSH4"></div>
          h5 Nombre
          input.form-control(name="nombre",type="text")
          h5 Mail
          input.form-control(name="tel", type="text")
          h5 Teléfono
          input.form-control(name="comments", type="text")
          h5 ¿Qué nos quieres preguntar?
          textarea.form-control(type="text")
          input.btn-form.btn(type="submit", value="Enviar")
