extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/curso_temp.css")
block scripts

block content

  .container.segment.animated.fadeIn
    .title Curso
    br
    .col-md-12.modal-c
        .row
            .col-md-8.content
                .d-flex.justify-content-between.head-temp
                    h3 Data Analyst con R
                    .time-temp.blue  21 horas - On Demand - On Site - Online
                .techno-temp.d-flex.justify-content-around
                p.text-temp Aprenderás a interactuar con bases de datos SQL y no relacionales a través de R, interactuar con APIs como Facebook y Twitter y al manejo de Dplyr avanzado.
                .row.dates-temp
                    .col-6.text-center
                        small hola@greeshark.com.mx
                        h3.blue Enero 2018
                    .line
                    .col-6.text-center.days
                        small Días del curso
                        h4
                            span.gray L
                            span.gray M
                            span.gray M
                            span.gray J
                            span.gray V
                            span.blue S
                            span.gray D
                .row.niceto
                    .col-6
                        .title-temp Skills
                        br
                        p.gray.text-justify · Conocimiento básico de R <br> · Conocimiento básico de archivos como JSON y CSV (Deseable) <br>· Conocimiento básico con SQL <br> · (Deseable) Conocimiento en algún lenguaje de programación


                    .col-6
                        .title-temp Pre-requisitos
                        br
                        p.gray.text-justify · Laptop con al menos 4GB de RAM. <br> ·Tener muchas ganas de aprender el flujo de datos de Facebook, Google y muchas empresas más.

            .col-md-4.example(style="background-image: url(../images/curso1.png)")
                .share.text-right
                    small Compartir:
                    a(href="https://www.facebook.com/GreenSharkMx")
                        img(src="/images/face_b.svg", alt="")
                    a(href="")
                        img(src="/images/tweet_b.svg", alt="")
                .cost.text-center
                    small Costo del Curso:
                    h3
                        strong Pregunta por nuestros precios y beneficios
                    h5.blue
                        a(href="#").support
                          small Pregunta por nuestros beneficios
                .btn-path
                    .btn.btn-success(onclick="formIn('','','1');") ¿Preguntas?
                    br
                    .text-center
                        a(href="#").support
                            small Aplicar para beca o apoyos
  .txt-techno
    .container Aprenderás:

  .techno-temp.d-flex.justify-content-around
    img(src="/images/tech/R_logo.svg.png", alt="")
    img(src="/images/tech/nosqlpng.png", alt="")
    img(src="/images/tech/data.table-dplyr.png", alt="")
    img(src="/images/tech/descarga.png", alt="")
    img(src="/images/tech/learnmore-api.png", alt="")
    img(src="/images/tech/json.png", alt="")

  .theme-temp
    .col-md-6.offset-md-3.modal-d
        h3 Temas
        hr
        .theme-min Dplyr Avanzado
        hr
        .theme-min Servicios REST Y SOAP con R
        hr
        .theme-min Interacción con API Rest 
        hr
        .theme-min Facebook Twitter
        hr
        .theme-min Github
        hr
        .theme-min Shiny
