extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/curso_temp.css")
block scripts

block content

  .container.segment.animated.fadeIn
    .title Curso
    br
    .col-md-12.modal-c
        .row
            .col-md-8.content
                .d-flex.justify-content-between.head-temp
                    h3 Data Architect - Big Data
                    .time-temp.blue  21 horas - On Demand - On Site - Online
                .techno-temp.d-flex.justify-content-around
                p.text-temp Aprenderás a crear proyectos con grandes cantidades de datos, cómo tu información estará soportada por increíbles tecnologías y las tendencias de la industria que necesita cada vez más de profesionales con estos conocimientos y habilidades.
                .row.dates-temp
                    .col-6.text-center
                        small hola@greeshark.com.mx
                        h3.blue Enero 2018
                    .line
                    .col-6.text-center.days
                        small Días del curso
                        h4
                            span.blue L
                            span.blue M
                            span.blue M
                            span.blue J
                            span.blue V
                            span.blue S
                            span.gray D
                .row.niceto
                    .col-6
                        .title-temp Skills
                        br
                        p.gray.text-justify · Haber cursado #[a(href="/bigdata-engineer") Data Engineer] <br>· Conocimiento avanzado de SQL <br>· Conocimiento avanzado de Java <br>· Conocimiento avanzado de Hadoop  

                    .col-6
                        .title-temp Obtendrás y Aprenderás:
                        br
                        p.gray.text-justify · Diploma con validez oficial <br>  · Constancia de estudios  <br>  · Diseñar proyecto de Datos. <br> · Migración de proyectos Big Data <br> · Analitica Avanzada

            .col-md-4.example(style="background-image: url(../images/curso1.png)")
                .share.text-right
                    small Compartir:
                    a(href="https://www.facebook.com/GreenSharkMx")
                        img(src="/images/face_b.svg", alt="")
                    a(href="")
                        img(src="/images/tweet_b.svg", alt="")
                .cost.text-center
                    small Costo del Curso:
                    h3
                        strong Pregunta por nuestros precios y beneficios
                        <br>
                        small Pregunta por el precio grupal
                    h5.blue
                        a(href="#").support
                          small Pregunta por nuestros beneficios
                .btn-path
                    .btn.btn-success(onclick="formIn('','','1');") ¿Preguntas?
                    br
                    .text-center
                        a(href="#").support
                            small Aplicar para beca o apoyos
  .txt-techno
    .container Aprenderás:

  .techno-temp.d-flex.justify-content-around
    img(src="/images/tech/hadoop.svg", alt="")
    img(src="/images/tech/spark.svg", alt="")
    img(src="/images/tech/MongoDB-Logo.svg.png", alt="")
    img(src="/images/tech/esnewlogo.png", alt="")
    img(src="/images/tech/2000px-Cassandra_logo.svg.png", alt="")
  .theme-temp
    .col-md-6.offset-md-3.modal-d
        h3 Temas
        hr
        .theme-min Tunning Avanzado en HDFS
        hr
        .theme-min Monitoreo, particionamiento y modelo de datos
        hr
        .theme-min Tunning Avanzado Hive / Impala
        hr
        .theme-min Consulta avanzadas desde Hive
        hr
        .theme-min Conexión al Data Lake con Tableau, MicroStrategy, Qlik View y Workbench
        hr
        .theme-min Tunning avanzado Spark
        hr
        .theme-min Consultas avanzadas en Spark
        hr
        .theme-min Archivos y compresión
        hr
        .theme-min SQL vs NoSQL
        hr
        .theme-min MongoDb
        hr
        .theme-min Comunicación Spark - MongoDB
        hr
        .theme-min ElasticSearch
        hr
        .theme-min Comunicación Spark - ElasticSearch
        hr
        .theme-min Cassandra
        hr
        .theme-min Comunicación Spark - Cassandra
        hr
        .theme-min Proyectos de migración a Big Data
