extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/curso_temp.css")
block scripts

block content

  .container.segment.animated.fadeIn
    .title Curso
    br
    .col-md-12.modal-c
        .row
            .col-md-8.content
                .d-flex.justify-content-between.head-temp
                    h3 Docker para Big Data
                    .time-temp.blue  21 horas - On Demand - On Site - Online
                .techno-temp.d-flex.justify-content-around
                p.text-temp Aprenderás a conectar arquitecturas de Big Data usando Docker, revisando la implmentación, seguridad, puesta en producción, escalamiento, recuperación de desastre y más.
                .row.dates-temp
                    .col-6.text-center
                        small hola@greeshark.com.mx
                        h3.blue Enero 2018
                    .line
                    .col-6.text-center.days
                        small Días del curso
                        h4
                            span.blue L
                            span.blue M
                            span.blue M
                            span.blue J
                            span.blue V
                            span.blue S
                            span.gray D
                .row.niceto
                    .col-6
                        .title-temp Skills
                        br
                        p.gray.text-justify · Conocimientos de Linux <br> · Lenguaje de programación <br> · Conocimientos de Docker <br> · Bases de Datos 

                    .col-6
                        .title-temp Pre-requisitos
                        br
                        p.gray.text-justify · Laptop con al menos 4GB de RAM. <br> · Infraestructura <br> · Networking y topologias <br> · Tecnologías de Big Data (Hadoop)

            .col-md-4.example(style="background-image: url(../images/curso1.png)")
                .share.text-right
                    small Compartir:
                    a(href="https://www.facebook.com/GreenSharkMx")
                        img(src="/images/face_b.svg", alt="")
                    a(href="")
                        img(src="/images/tweet_b.svg", alt="")
                .cost.text-center
                    small Costo del Curso:
                    h3
                        strong Pregunta por nuestros precios y beneficios
                    h5.blue
                        a(href="#").support
                          small Pregunta por nuestros beneficios
                .btn-path
                    .btn.btn-success(onclick="formIn('','','1');") ¿Preguntas?
                    br
                    .text-center
                        a(href="#").support
                            small Aplicar para beca o apoyos
  .txt-techno
    .container Aprenderás:

  .techno-temp.d-flex.justify-content-around
    img(src="/images/tech/gradient.png", alt="")
    img(src="/images/tech/machine_learning.png", alt="")
    img(src="/images/tech/shiny.png", alt="")
    img(src="/images/tech/statistics.png", alt="")
    img(src="/images/tech/hadoop.svg", alt="")
  .theme-temp
    .col-md-6.offset-md-3.modal-d
        h3 Temas
        hr
        .theme-min Introducción al modelo distribuido
        hr
        .theme-min Docker Compose - Docker Swarm
        hr
        .theme-min Introducción a Kubernetes
        hr
        .theme-min Clusterización de Postgresql
        hr
        .theme-min Clusterización de Elasticsearch
        hr
        .theme-min Clusterización de Hadoop
        hr
        .theme-min Orquestación de Servicios
        hr
        .theme-min Manejo de infraestructura as code con Chef
