extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/curso_temp.css")
block scripts

block content

  .container.segment.animated.fadeIn
    .title Curso
    br
    .col-md-12.modal-c
        .row
            .col-md-8.content
                .d-flex.justify-content-between.head-temp
                    h3 Introducción a Elasticsearch
                    .time-temp.blue  14 horas - On Demand - On Site - Online
                .techno-temp.d-flex.justify-content-around
                p.text-temp Aprenderás a realizar modelos de datos estaditicos y probabilisticos así como proponer soluciones con Machine Learning y exponenciar la información actual los grandes datos (Big Data)
                .row.dates-temp
                    .col-6.text-center
                        small hola@greeshark.com.mx
                        h3.blue Enero 2018
                    .line
                    .col-6.text-center.days
                        small Días del curso
                        h4
                            span.blue L
                            span.blue M
                            span.blue M
                            span.blue J
                            span.blue V
                            span.blue S
                            span.gray D
                .row.niceto
                    .col-6
                        .title-temp Skills
                        br
                        p.gray.text-justify · Conoccimientos en programación <br> · JSON <br>· Conocimiento básico de No SQL (deseable) <br>

                    .col-6
                        .title-temp Pre-requisitos
                        br
                        p.gray.text-justify · Laptop con al menos 8GB de RAM. <br>

            .col-md-4.example(style="background-image: url(../images/curso1.png)")
                .share.text-right
                    small Compartir:
                    a(href="https://www.facebook.com/GreenSharkMx")
                        img(src="/images/face_b.svg", alt="")
                    a(href="")
                        img(src="/images/tweet_b.svg", alt="")
                .cost.text-center
                    small Costo del Curso:
                    h3
                        strong Pregunta por nuestros precios y beneficios
                    h5.blue
                        a(href="#").support
                          small Pregunta por nuestros beneficios
                .btn-path
                    .btn.btn-success(onclick="formIn('','','1');") ¿Preguntas?
                    br
                    .text-center
                        a(href="#").support
                            small Aplicar para beca o apoyos
  .txt-techno
    .container Aprenderás:

  .techno-temp.d-flex.justify-content-around
    img(src="/images/tech/gradient.png", alt="")
    img(src="/images/tech/machine_learning.png", alt="")
    img(src="/images/tech/shiny.png", alt="")
    img(src="/images/tech/statistics.png", alt="")
    img(src="/images/tech/hadoop.svg", alt="")
  .theme-temp
    .col-md-6.offset-md-3.modal-d
        h3 Temas
        hr
        .theme-min Instalación y manejo de archivos de configuración
        hr
        .theme-min Indices, Tipos y documentos
        hr
        .theme-min Consultas básicas, CRUD e Indice inverso
        hr
        .theme-min Configuración de busqueda y minería de texto
        hr
        .theme-min NLP con Elasticsearch
        hr
        .theme-min Configuración de resultados, filtrado y Geolocalización
