extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/curso_temp.css")
block scripts

block content

  .container.segment.animated.fadeIn
    .title Curso
    br
    .col-md-12.modal-c
        .row
            .col-md-8.content
                .d-flex.justify-content-between.head-temp
                    h4 Data Visualization - KPI
                    .time-temp.blue  21 horas - On Demand - On Site - Online
                .techno-temp.d-flex.justify-content-around
                p.text-temp Aprendrás a visualizar la información basada en datos, mejores practicas y como realizar un telling story hacía tus clientes mediante tecnologías de Python y Javascript.
                .row.dates-temp
                    .col-6.text-center
                        small hola@greeshark.com.mx
                        h3.blue Enero 2018
                    .line
                    .col-6.text-center.days
                        small Días del curso
                        h4
                            span.blue L
                            span.blue M
                            span.gray M
                            span.blue J
                            span.gray V
                            span.gray S
                            span.gray D
                .row.niceto
                    .col-6
                        .title-temp Skills
                        br
                        p.gray.text-justify · Haber cursado   #[a(href="/data-analyst") Data Analyst] y #[a(href="/data-models") Data Models]


                    .col-6
                      .title-temp Obtendrás y Aprenderás:
                      br
                      p.gray.text-justify · Diploma con validez oficial <br>  · Constancia de estudios  <br>  · Desarrollar modelos matemáticos aplicados <br> · Redes Neuronales <br> · Introducción a Deep Learning
            .col-md-4.example(style="background-image: url(../images/curso3.png)")
                .share.text-right
                    small Compartir:
                    a(href="https://www.facebook.com/GreenSharkMx")
                        img(src="/images/face_b.svg", alt="")
                    a(href="")
                        img(src="/images/tweet_b.svg", alt="")
                .cost.text-center
                    small Costo del Curso:
                    h3
                        strong Pregunta por nuestros precios y beneficios
                        <br>
                        small Pregunta por el precio grupal
                    h5.blue
                        a(href="#").support
                          small Pregunta por nuestros beneficios
                .btn-path
                    .btn.btn-success(onclick="formIn('','','3');") Inscribirme
                    br
                    .text-center
                        a(href="#").support
                            small Aplicar para beca o apoyos
  .txt-techno
    .container Aprenderás:

  .techno-temp.d-flex.justify-content-around
    img(src="/images/tech/bokeh-svg.svg", alt="")
    img(src="/images/tech/d3.png", alt="")
    img(src="/images/tech/seaborn.svg", alt="")
    img(src="/images/tech/matplotlib.svg", alt="")

  .theme-temp
    .col-md-6.offset-md-3.modal-d
        h3 Temas
        hr
        .theme-min Introducción al diseño visual de la información cuantitativa
        hr
        .theme-min Diseño de tablas y gráficas
        hr
        .theme-min Visualización de datos con Python
        hr
        .theme-min Visualización de datos con D3.js
        hr
        .theme-min Diseño de Dashboards
        hr
        .theme-min Dashboards interactivos
        hr
        .theme-min Automatización de reportes con Python
        hr
        .theme-min Storytelling
