extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/curso_temp.css")
block scripts

block content

  .container.segment.animated.fadeIn
    .title Curso
    br
    .col-md-12.modal-c
        .row
            .col-md-8.content
                .d-flex.justify-content-between.head-temp
                    h3 Ciencia de Datos con R
                    .time-temp.blue  21 horas - On Demand - On Site - Online
                .techno-temp.d-flex.justify-content-around
                p.text-temp Aprenderás el proceso de Ciencia de datos mediante el lenguaje R, un lenguaje muy popular estadistico y utilizado ampliamente en la industria
                .row.dates-temp
                    .col-6.text-center
                        small hola@greeshark.com.mx
                        h3.blue Febrero 2018
                    .line
                    .col-6.text-center.days
                        small Días del curso
                        h4
                            span.gray L
                            span.gray M
                            span.gray M
                            span.gray J
                            span.gray V
                            span.blue S
                            span.gray D
                .row.niceto
                    .col-6
                        .title-temp Skills
                        br
                        p.gray.text-justify · Conocimiento básico de linux <br> · Conocimiento básico de archivos <br>· (Deseable) Conocimiento en algún lenguaje de programación


                    .col-6
                        .title-temp Pre-requisitos
                        br
                        p.gray.text-justify · Laptop con al menos 4GB de RAM. <br> ·Tener muchas ganas de aprender el flujo de datos de Facebook, Google y muchas empresas más.

            .col-md-4.example(style="background-image: url(../images/curso1.png)")
                .share.text-right
                    small Compartir:
                    a(href="https://www.facebook.com/GreenSharkMx")
                        img(src="/images/face_b.svg", alt="")
                    a(href="")
                        img(src="/images/tweet_b.svg", alt="")
                .cost.text-center
                    small Costo del Curso:
                    h3
                        strong Pregunta por nuestros precios y beneficios
                    h5.blue
                        a(href="#").support
                          small Pregunta por nuestros beneficios
                .btn-path
                    .btn.btn-success(onclick="formIn('','','1');") ¿Preguntas?
                    br
                    .text-center
                        a(href="#").support
                            small Aplicar para beca o apoyos
  .txt-techno
    .container Aprenderás:

  .techno-temp.d-flex.justify-content-around
    
    img(src="/images/tech/R_logo.svg.png", alt="")
    img(src="/images/tech/v-35-512.png", alt="")
    img(src="/images/tech/hex-ggplot2.png", alt="")
    img(src="/images/tech/dplyr.png", alt="")
      
      
  .theme-temp
    .col-md-6.offset-md-3.modal-d
        h3 Temas
        hr
        .theme-min Introducción a R
        hr
        .theme-min Manejo del ecosistema de librerías en R
        hr
        .theme-min CRAN y repositorios
        hr
        .theme-min Workflow de ciencia de datos
        hr
        .theme-min Visualización con ggplot
