extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/curso_temp.css")
block scripts

block content

  .container.segment.animated.fadeIn
    .title Curso
    br
    .col-md-12.modal-c
        .row
            .col-md-8.content
                .d-flex.justify-content-between.head-temp
                    h3 Data Engineer
                    .time-temp.blue  21 horas - On Demand - On Site - Online
                .techno-temp.d-flex.justify-content-around
                p.text-temp Este curso se enfoca en profesionales que buscan aplicar los conocimientos de big data en la industria, procesos reales en ambientes analiticos y como mitigar las necesidades de arquitectura e infraestructura del manejo de grandes datos, siempre con la mira en entregar productos de calidad.
                .row.dates-temp
                    .col-6.text-center
                        small hola@greeshark.com.mx
                        h3.blue Enero 2018
                    .line
                    .col-6.text-center.days
                        small Días del curso
                        h4
                            span.blue L
                            span.blue M
                            span.blue M
                            span.blue J
                            span.blue V
                            span.blue S
                            span.gray D
                .row.niceto
                    .col-6
                        .title-temp Skills
                        br
                        p.gray.text-justify · Haber cursado #[a(href="/introduccion-bigdata") Introducción a Big Data] Conocimiento básico de linux <br> · Conocimiento de Hadoop<br>· Conocimiento de infraestructura Big Data <br>
                        a(href="/introduccion-bigdata")
                          Curso Introducción a big data

                    .col-6
                        .title-temp Obtendrás y Aprenderás:
                        br
                        p.gray.text-justify · Diploma con validez oficial <br>  · Constancia de estudios  <br>  · Desarrollar proyectos y diseñar arquitecturas <br> · Aplicaciones en tiempo real <br> · Cloudera / Hortonworks  <br> · Spark Avanzado


            .col-md-4.example(style="background-image: url(../images/curso2.png)")
                .share.text-right
                    small Compartir:
                    a(href="https://www.facebook.com/GreenSharkMx")
                        img(src="/images/face_b.svg", alt="")
                    a(href="")
                        img(src="/images/tweet_b.svg", alt="")
                .cost.text-center
                    small Costo del Curso:
                    h3
                        strong $4,999 MXN ~ 250 USD Precio individual
                        <br>
                        small Pregunta por el precio grupal
                    h5.blue
                        a(href="#").support
                          small Pregunta por nuestros beneficios
                .btn-path
                    .btn.btn-success(onclick="formIn('','','2');") ¿Preguntas?
                    br
                    .text-center
                        a(href="#").support
                            small Aplicar para beca o apoyos
  .txt-techno
    .container Aprenderás:

  .techno-temp.d-flex.justify-content-around

    img(src="/images/tech/hadoop.svg", alt="")
    img(src="/images/tech/kafka.svg", alt="")
    img(src="/images/tech/spark.svg", alt="")
    img(src="/images/tech/scala.png", alt="")

    img(src="/images/tech/jupitor.svg", alt="")

  .theme-temp
    .col-md-6.offset-md-3.modal-d
        h3 Temas
        hr
        .theme-min Hadoop HDFS
        hr
        .theme-min Sistemas distribuidos y YARN
        hr
        .theme-min Sqoop import / export
        hr
        .theme-min Masterización de datos
        hr
        .theme-min Near real time
        hr
        .theme-min Kafka
        hr
        .theme-min Streaming
        hr
        .theme-min Streaming esquematizado
        hr
        .theme-min Scala
        hr
        .theme-min Jupyter
        hr
        .theme-min Spark RDD
        hr
        .theme-min Funciones y recursión Scala
        hr
        .theme-min Transformaciónes
        hr
        .theme-min Spark SQL
        hr
        .theme-min Manejo de datos SQL
        hr
        .theme-min Transformación y acciones
        hr
        .theme-min Tablas temporales y funciones windows
        hr
        .theme-min Funciones definidas en Spark SQL
        hr
        .theme-min SparkSQL y Hive
        hr
        .theme-min Spark y MySQL via JDBC
        hr
        .theme-min Inferencia de esquemas
        hr
        .theme-min ORC vs Parquet
        hr
        .theme-min Spark Streaming
        hr
        .theme-min Manejo de datos en tiempo real
        hr
        .theme-min RDD en streaming
        hr
        .theme-min Arquitectura Lambda - Near
        hr
        .theme-min Real time
