extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/cursos.css")
block scripts

block content


  .container.segment.animated.fadeIn
    .title Cursos
    br
    br
    .row
      a(href="introduccion-bigdata").col-md-4.hvr-float
        .one-segment
          .top.curso1
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong  Introducción a Big Data
            br
            br

            strong.time 1 Semanas | 21 horas | Agosto
      a(href="bigdata-engineer").col-md-4.hvr-float

        .one-segment
          .top.curso1
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Data Engineer
            br
            br

            strong.time 1 Semanas | 21 horas | Agosto
      a(href="data-solution-architect").col-md-4.hvr-float

        .one-segment
          .top.curso1
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Data Solution Architect
            br
            br

            strong.time 1 Semanas | 21 horas | Septiembre
    .row
      a(href="introduccion-ciencia-de-datos").col-md-4.hvr-float

        .one-segment
          .top.curso3
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Introducción a Ciencia de Datos
            br
            br
            strong.time 1 Semanas | 21 horas | Agosto



      a(href="data-analyst").col-md-4.hvr-float

        .one-segment
          .top.curso3
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Data Analyst
            br
            br
            strong.time 1 Semanas | 21 horas | Agosto
            
      a(href="data-models").col-md-4.hvr-float

        .one-segment
          .top.curso3
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Data Models
            br
            br
            strong.time 1 Semanas | 21 horas | Octubre
      
      a(href="data-visualization").col-md-4.hvr-float

        .one-segment
          .top.curso2
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Data Visualization
            br
            br
            strong.time 1 Semanas | 21 horas | Enero
      a(href="introduccion-ciencia-de-datos-r").col-md-4.hvr-float

        .one-segment
          .top.curso2
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Introducción a la ciencia de datos con R
            br
            br
            strong.time 1 Semanas | 21 horas | Enero
      a(href="bases-de-datos-r").col-md-4.hvr-float

        .one-segment
          .top.curso2
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Bases de datos con R
            br
            br
            strong.time 1 Semanas | 21 horas | Enero
      a(href="ml-r").col-md-4.hvr-float

        .one-segment
          .top.curso1
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Machine Learning con R
            br
            br
            strong.time 1 Semanas | 21 horas | Enero
      a(href="intro-docker").col-md-4.hvr-float

        .one-segment
          .top.curso1
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Introducción a Docker
            br
            br
            strong.time 1 Semanas | 14 horas | Enero
      a(href="docker-bigdata").col-md-4.hvr-float

        .one-segment
          .top.curso1
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Docker para Big Data
            br
            br
            strong.time 1 Semanas | 14 horas | Enero
      a(href="kubernetes").col-md-4.hvr-float

        .one-segment
          .top.curso2
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Kubernetes
            br
            br
            strong.time 1 Semanas | 21 horas | Enero
      a(href="tableau").col-md-4.hvr-float

        .one-segment
          .top.curso2
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Tableau
            br
            br
            strong.time 1 Semanas | 28 horas | Enero
      a(href="data-governance").col-md-4.hvr-float

        .one-segment
          .top.curso2
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Data Governance
            br
            br
            strong.time 1 Semanas | 28 horas | Enero
      a(href="cloud-ccsk").col-md-4.hvr-float

        .one-segment
          .top.curso2
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Cloud CCSK Certification
            br
            br
            strong.time 1 Semanas | 28 horas | Enero
            
      a(href="elasticsearch").col-md-4.hvr-float

        .one-segment
          .top.curso2
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Elasticsearch
            br
            br
            strong.time 1 Semanas | 28 horas | Enero
            
            
      a(href="postgresql").col-md-4.hvr-float

        .one-segment
          .top.curso2
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Postgresql
            br
            br
            strong.time 1 Semanas | 28 horas | Enero
            
      a(href="postgresql").col-md-4.hvr-float

        .one-segment
          .top.curso2
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Postgresql
            br
            br
            strong.time 1 Semanas | 28 horas | Enero

      a(href="mysql").col-md-4.hvr-float

        .one-segment
          .top.curso2
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong MySQL
            br
            br
            strong.time 1 Semanas | 28 horas | Enero
            
            
      a(href="oracle").col-md-4.hvr-float

        .one-segment
          .top.curso2
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Oracle
            br
            br
            strong.time 1 Semanas | 28 horas | Enero

      a(href="python").col-md-4.hvr-float

        .one-segment
          .top.curso2
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Python
            br
            br
            strong.time 1 Semanas | 35 horas | Enero



      a(href="scala").col-md-4.hvr-float

        .one-segment
          .top.curso2
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Scala
            br
            br
            strong.time 1 Semanas | 35 horas | Enero
            
            
      a(href="java").col-md-4.hvr-float

        .one-segment
          .top.curso2
            .tag
              .lett curso
            .sq
          .bottom.text-center
            strong Java
            br
            br
            strong.time 1 Semanas | 35 horas | Enero
