extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/curso_temp.css")
block scripts

block content

  .container.segment.animated.fadeIn
    .title Curso
    br
    .col-md-12.modal-c
        .row
            .col-md-8.content
                .d-flex.justify-content-between.head-temp
                    h4 Data Analyst con Python
                    .time-temp.blue  21 horas - On Demand - On Site - Online
                .techno-temp.d-flex.justify-content-around
                p.text-temp Aprenderás a conocer los diferentes tipos de fuente de datos, como lidiar con bases de datos e información estructurada asi como con APIs
                .row.dates-temp
                    .col-6.text-center
                        small hola@greeshark.com.mx
                        h3.blue Enero 2018
                    .line
                    .col-6.text-center.days
                        small Días del curso
                        h4
                            span.blue L
                            span.blue M
                            span.blue M
                            span.blue J
                            span.blue V
                            span.blue S
                            span.gray D
                .row.niceto
                    .col-6
                        .title-temp Skills
                        br
                        p.gray.text-justify · Haber cursado #[a(href="/introduccion-ciencia-de-datos") Introducción a Ciencia de Datos] <br>


                    .col-6
                        .title-temp Obtendrás y Aprenderás:
                        br
                        p.gray.text-justify · Diploma con validez oficial <br>  · Constancia de estudios <br>  · Anlizar información con Python Avanzado <br> · INEGI, API y más <br> · Machine Learning  <br> · Bases de datos relacionales

            .col-md-4.example(style="background-image: url(../images/curso3.png)")
                .share.text-right
                    small Compartir:
                    a(href="https://www.facebook.com/GreenSharkMx")
                        img(src="/images/face_b.svg", alt="")
                    a(href="")
                        img(src="/images/tweet_b.svg", alt="")
                .cost.text-center
                    small Costo del Curso:
                    h3
                        strong Pregunta por nuestros precios y beneficios
                        <br>
                        small Pregunta por el precio grupal
                    h5.blue
                        a(href="#").support
                          small Pregunta por nuestros beneficios
                .btn-path
                    .btn.btn-success(onclick="formIn('','','3');") ¿Preguntas?
                    br
                    .text-center
                        a(href="#").support
                            small Aplicar para beca o apoyos
  .txt-techno
    .container Aprenderás:

  .techno-temp.d-flex.justify-content-around
    img(src="/images/tech/phyton.svg", alt="")
    img(src="/images/tech/jupitor.svg", alt="")
    img(src="/images/tech/sql.svg", alt="")
    img(src="/images/tech/excel.png", alt="")

  .theme-temp
    .col-md-6.offset-md-3.modal-d
        h3 Temas
        hr
        .theme-min Herramientas para el análisis de datos
        hr
        .theme-min Diseño de Base de datos
        hr
        .theme-min Introducción a SQL
        hr
        .theme-min Formatos avanzados de datos
        hr
        .theme-min APIs y Scrapping Web
        hr
        .theme-min Introducción a procesamiento natural de lenguaje
        hr
        .theme-min Análisis de datos por periodos de tiempo
        hr
        .theme-min Tablas dinámicas con SQL y Pandas
