extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/curso_temp.css")
block scripts

block content

  .container.segment.animated.fadeIn
    .title Curso
    br
    .col-md-12.modal-c
        .row
            .col-md-8.content
                .d-flex.justify-content-between.head-temp
                    h3 Introducción a Big Data 
                    .time-temp.blue  21 horas - On Demand - On Site - Online
                .techno-temp.d-flex.justify-content-around
                p.text-temp Aprenderás a crear proyectos con grandes cantidades de datos, cómo tu información estará soportada por increíbles tecnologías y las tendencias de la industria que necesita cada vez más de profesionales con estos conocimientos y habilidades.
                .row.dates-temp
                    .col-6.text-center
                        small hola@greeshark.com.mx
                        h3.blue Enero 2018
                    .line
                    .col-6.text-center.days
                        small Días del curso
                        h4
                            span.blue L
                            span.blue M
                            span.blue M
                            span.blue J
                            span.blue V
                            span.blue S
                            span.gray D
                .row.niceto
                    .col-6
                        .title-temp Requisitos
                        br
                        p.gray.text-justify · Conocimiento básico de linux <br> · Conocimiento básico de sistema de archivos<br>· Conocimiento básico con SQL <br> · (Deseable) Conocimiento en algún lenguaje de programación


                    .col-6
                        .title-temp Obtendrás y Aprenderás:
                        br
                        p.gray.text-justify · Diploma con validez oficial <br>  · Constancia de estudios  <br>  · Desarrollar proyectos con grandes cantidades de datos. <br> · Utilizarás el ecosistema Hadoop <br> · Cloudera / Hortonworks  <br> · Arquitectura Big Data

            .col-md-4.example(style="background-image: url(../images/curso1.png)")
                .share.text-right
                    small Compartir:
                    a(href="https://www.facebook.com/GreenSharkMx")
                        img(src="/images/face_b.svg", alt="")
                    a(href="")
                        img(src="/images/tweet_b.svg", alt="")
                .cost.text-center
                    small Costo del Curso:
                    h3
                        strong Pregunta por nuestros precios y beneficios
                        <br>
                        small Pregunta por el precio grupal
                    h5.blue
                        a(href="#").support
                          small Pregunta por nuestros beneficios
                .btn-path
                    .btn.btn-success(onclick="formIn('','','1');") ¿Preguntas?
                    br
                    .text-center
                        a(href="#").support
                            small Aplicar para beca o apoyos
  .txt-techno
    .container Aprenderás:

  .techno-temp.d-flex.justify-content-around
    img(src="/images/tech/hadoop.svg", alt="")
    img(src="/images/tech/sql.svg", alt="")
    img(src="/images/tech/swarm.png", alt="")
    img(src="/images/tech/spark.svg", alt="")
    img(src="/images/tech/nosql.png", alt="")
  .theme-temp
    .col-md-6.offset-md-3.modal-d
        h3 Temario
        hr
        .theme-min Introducción a Big Data: Las 3 
        hr
        .theme-min La perespectiva actual de Big Data
        hr
        .theme-min Posibilidades actuales con Big Data y el negocio de Big Data
        hr
        .theme-min ¿Cómo funciona el ecosistema Hadoop?
        hr
        .theme-min YARN, Hadoop 2.0 
        hr
        .theme-min HDFS y ejecución de comandos, Java y La JVM
        hr
        .theme-min ETL e ingesta de datos
        hr
        .theme-min Herramientas de SQL y no SQL para ejecución programada de tareas para grandes datos
        hr
        .theme-min Procesamiento distribuido
        hr
        .theme-min Mapreduce
        hr
        .theme-min Spark usando Java y Python y y Spark SQL
        hr
        .theme-min Introducción a la analítica avanzada usando Spark
        hr
        .theme-min Introducción a Machine Learning con Spark MLlib
