.jumbotron.techno-index.noselect
  .container
      .title Empresas
      .row.no-mobile
        .col-md-1.text-center.no-mobile.back
          i.fa.fa-chevron-left(aria-hidden='true')
        .s1.col-md-10.hidden.fs
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/farmacias_similares.png", alt="")
            .col-md-7.text-justify.txt-techno.align-middle -
        .s2.col-md-10.hidden.unam
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/unam.png", alt="")
            .col-md-7.text-justify.txt-techno.align-middle -
        .s3.col-md-10.hidden.cinepolis
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/cinepolis.png", alt="")
            .col-md-7.text-justify.txt-techno.align-middle -
        .s4.col-md-10.hidden.banxico
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/banxico.png", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Oozie te permite programar tus tareas nocturnas mediante tecnologias Hadoop, ¿Esto que significa? Que puedes enviar millones de registros de una tabla a otra sin tener que esperar toda la noche, solo unos cuantos minutos.
        .s6.col-md-10.hidden.itam
          .row
            .col-md-5.text-center.img-techno
              img(src="/images/itam.png", alt="")
            .col-md-7.text-justify.txt-techno.align-middle Las bases de datos SQL no han pasado de moda, se requieren para muchos procesos, en México ocupa el 92% de tipo de bases de datos en las empresas, sin duda debes aprender a manejar este tipo de base de datos.
          i.fa.fa-chevron-right(aria-hidden='true')
      .tech-options.fix
        img.hvr-float.fs(src="/images/farmacias_similares.png", alt="",slider="1")
        img.hvr-float.unam(src="/images/unam.png", alt="",slider="2")
        img.hvr-float.cinepolis(src="/images/cinepolis.png", alt="",slider="3")
        img.hvr-float.banxico(src="/images/banxico.png", alt="",slider="4")
        img.hvr-float.itam(src="/images/itam.png", alt="",slider="5")
