.form-in.d-flex.justify-content-center.hidden
    .register-in
        .text-right.remove-in.req.hvr-buzz
            i.fa.fa-times(aria-hidden='true')
        h1.header-in Información
        p.tell-in En poco tiempo recibirás información detallada sobre nuestros servicios y cursos.
        br
        form
            .form-group.email-in
              label(for='exampleInputEmail1') E-mail
                span.req *
              input#exampleInputEmail1.form-control(name="email", type='email', aria-describedby='emailHelp', placeholder='Introduce tu  e-mail',autocomplete="on")
              small#emailHelp.form-text.text-muted No te preocupes, nunca compartiremos tu mail con nadie
            .form-group.name-in
              label(for='exampleInputname1') Nombre
                span.req *
              input#exampleInputname1.form-control(name="nombre", type='name', aria-describedby='nameHelp', placeholder='Introduce tu nombre')
            .form-group.tel-in
              label(for='exampleInputtel1') Teléfono
                span.req *
              input#exampleInputtel1.form-control(name="tel", type='tel', aria-describedby='telHelp', placeholder='Introduce tu teléfono')
            .hidden.form-group.text-in
              label(for='exampleInputtel1') ¿En que te podemos ayudar?
                span.req 
              textarea#exampleInputtext1.form-control(name="comments", type='text', aria-describedby='textHelp', placeholder='Me gustaría saber...')
            .hidden.form-group.support-in
              label(for='exampleInputtel1') ¿Cursos o Consultoría?
                span.req *
              textarea#exampleInputtext1.form-control(name="beca", type='support', aria-describedby='supportHelp', placeholder='Aquí')
            .form-group.path-in
              label(for='exampleInputpath1') ¿En qué tema estas interesado?
                span.req *
              select#exampleInputpath1.form-control(name="cursos", type='path', aria-describedby='pathHelp', placeholder='Curso de tu interés')
                option(value="ninguno") ---
                option(value="Consultoria") Consultoria y Proyectos
                option(value="Big Data") Cursos de Big Data
                option(value="Data science") Cursos Data Science
                option(value="Docker") Cursos Docker
                option(value="Tableau") Cursos de Tableau
                option(value="Data Governance") Data Governance
            .form-group
              center
                div( class="g-recaptcha" data-sitekey="6LcguBsUAAAAAB_TXZTNQ_dDYXvkN30wETZsUSH4")
            input.btn.btn-primary.form-final( value="Enviar")
            br
            .text-center
              small.mssg-form-final.mssg-form.hidden
    .hidden.col-md-2.path-select.course-form-1
            .one-segment
              .top.curso1
                .tag
                  .lett curso
                .sq
              .bottom.text-center
                strong  Introducción a Big Data
                br
                br
                strong.time 1 Semana | 20 horas
    .hidden.col-md-2.path-select.course-form-2
            .one-segment
              .top.curso2
                .tag
                  .lett curso
                .sq
              .bottom.text-center
                strong  Big Data Engineer
                br
                br
                strong.time 1 Semana | 20 horas
    .hidden.col-md-2.path-select.course-form-3
            .one-segment
              .top.curso3
                .tag
                  .lett curso
                .sq
              .bottom.text-center
                strong  Introducción a Ciencia de Datos con Python
                br
                br
                strong.time 1 Semana | 20 horas




    .hidden.col-md-4.path-index.path-select.path-form-1
        .col-md-12.item-path-mini
          .content-path-head
            .text-center.path-1
              img(src="/images/big.svg", alt="")
            .title-path Big Data
          .content2-path-head Serás capaz de proponer y elegir tecnologías para montar una arquitectura de Big Data para tu organización o proyecto.
          .time-path-mini.text-center 160 horas (9-12 meses)
    .hidden.col-md-4.path-index.path-select.path-form-2
        .col-md-12.item-path-mini
          .content-path-head
            .text-center.path-2
              img(src="/images/data.svg", alt="")
            .title-path Data Science
          .content2-path-head Diseñaras soluciones a problemas diversos siempre agregando valor al negocio o proyecto a partir de entender el fenómeno con datos.
          .time-path-mini.text-center 160 horas (9-12 meses)
    .hidden.col-md-4.path-index.path-select.path-form-3
        .col-md-12.item-path-mini
          .content-path-head
            .text-center.path-3
              img(src="/images/social.svg", alt="")
            .title-path Data Analysis for Social Sciences
          .content2-path-head Aprenderás a obtener, estructurar y analizar la información de manera ordenada y eficiente para entender qué es lo que dicen.
          .time-path-mini.text-center 160 horas (9-12 meses)
