extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/index.css")
block scripts

block content
  .jumbotron.main-contain.animated.fadeIn
    .container.text-center.punchline
        .col-md-12
          .col-md-10.offset-md-1
            h1.white-text Desarrollamos talento, detonamos crecimiento a través del conocimiento y la calidad
            h1.white-text hola@greenshark.com.mx
            p.white-text Greenshark está enfocada en agregar valor a partir de la ciencia de datos y las mejores tecnologías de la información.
        .col-md-12
        .col-md-6.offset-md-3
          .input-group.input-group-lg.form_style.index-form
            input#head-index-form.form-control(type='text', placeholder='E-mail')
            span.input-group-btn
              button.btn.btn-secondary(type='button') Quiero más info
          br
          small.mssg-form
  .container.text-center
      a(href="#")
        i.fa.fa-chevron-down(aria-hidden='true')
  .container.paths-index
    .title PATHS
    .row
      .col-md-4.item-path-mini
        a(href="path1").hvr-float
          .content-path-head
            .text-center.path-1
              img(src="/images/big.svg", alt="")
            .title-path Big Data
          .content2-path-head Serás capaz de proponer y elegir tecnologías para montar una arquitectura de Big Data para tu organización o proyecto.
          .time-path-mini.text-center Infraestructura
          .btn-path-mini.text-center Saber más
        .text-center
          br
          small
              a(href="cursos") Explorar los cursos
      .col-md-4.item-path-mini
        a(href="path2").hvr-float
          .content-path-head
            .text-center.path-2
              img(src="/images/brain.png", alt="")
            .title-path Data Science & Inteligencia Artificial
          .content2-path-head Diseñarás soluciones a problemas diversos siempre agregando valor a tu negocio o proyecto a partir de entender y analizar el fenómeno con datos.
          .time-path-mini.text-center Machine Learning & Aprendizaje Estadístico
          .btn-path-mini.text-center Saber más
        .text-center
          br
          small
              a(href="cursos") Explorar los cursos
      .col-md-4.item-path-mini
        a(href="path4").hvr-float
          .content-path-head
            .text-center.path-2
              img(src="/images/data.svg", alt="")
            .title-path Data Science con R
          .content2-path-head Aprendrás el análisis, adquisición, librerías, buenas practicas y metodologìas para la ciencia de datos con R.
          .time-path-mini.text-center Machine Learning & Aprendizaje Estadístico
          .btn-path-mini.text-center Saber más
        .text-center
          br
          small
              a(href="cursos") Explorar los cursos
      .col-md-4.item-path-mini
        a(href="data-governance").hvr-float
          .content-path-head
            .text-center.path-2
              img(src="/images/data-social.svg", alt="")
            .title-path Data Analysis for Social Sciences
          .content2-path-head No requieres conocimientos de computación o matemáticas avanzadas para entender la revolución de los datos.
          .time-path-mini.text-center Gobierno y Administración de Datos
          .btn-path-mini.text-center Saber más
        .text-center
          br
          small
            a(href="cursos") Explorar los cursos
      .col-md-4.item-path-mini
        a(href="tableau").hvr-float
          .content-path-head
            .text-center.path-3
              img(src="/images/tableau.png", alt="")
            .title-path Tableau
          .content2-path-head Visualización avanzada con Tableau. Comunicación con bases de datos y KPI en tiempo real hacía Hadoop o una base de datos SQL.
          .time-path-mini.text-center Business Inteligence
          .btn-path-mini.text-center Saber más
        .text-center
          br
          small
              a(href="cursos") Explorar los cursos
      .col-md-4.item-path-mini
        a(href="intro-docker").hvr-float
          .content-path-head
            .text-center.path-2
              img(src="/images/docker.svg", alt="")
            .title-path Docker & Kubernetes
          .content2-path-head Virtualización a gran escala, mantenimiento de contendores y despliegue de multiples ambientes en automatico.
          .time-path-mini.text-center Virtualización & Infraestructura
          .btn-path-mini.text-center Saber más
        .text-center
          br
          small
              a(href="cursos") Explorar los cursos
      .col-md-4.item-path-mini
        a(href="data-governance").hvr-float
          .content-path-head
            .text-center.path-2
              img(src="/images/data_governance.svg", alt="")
            .title-path Gobierno de datos
          .content2-path-head Aprenderás las practicas de gobierno de datos que guiarán a la organización  al completo control de su información.
          .time-path-mini.text-center Data Management
          .btn-path-mini.text-center Saber más
        .text-center
          br
          small
              a(href="cursos") Explorar los cursos
      .col-md-4.item-path-mini
        a(href="cloud-ccsk").hvr-float
          .content-path-head
            .text-center.path-2
              img(src="/images/cloud-ccsk.svg", alt="")
            .title-path CCSK - Seguridad en la nube
          .content2-path-head Conoce los vértices y directrices de la seguirdad en la nube y como proteger tu información on transit y at rest.
          .time-path-mini.text-center Data Security
          .btn-path-mini.text-center Saber más
        .text-center
          br
          small
              a(href="cursos") Explorar los cursos
      .col-md-4.item-path-mini
        a(href="elasticsearch").hvr-float
          .content-path-head
            .text-center.path-2
              img(src="/images/elastic.png", alt="")
            .title-path Elasticsearch
          .content2-path-head Aprende de la herramienta que esta transformado las busquedas de texto completo, basado en minería de texto.
          .time-path-mini.text-center Data Exploration
          .btn-path-mini.text-center Saber más
        .text-center
          br
          small
              a(href="cursos") Explorar los cursos
      .col-md-4.item-path-mini
        a(href="postgresql").hvr-float
          .content-path-head
            .text-center.path-2
              img(src="/images/postgres.png", alt="")
            .title-path Administración de PostgreSQL
          .content2-path-head Aprender a crear ambientes productivos, Failover, Cluster, Seguridad, Escalamiento, rendimiento y monitoreo.
          .time-path-mini.text-center Bases de Datos
          .btn-path-mini.text-center Saber más
        .text-center
          br
          small
              a(href="cursos") Explorar los cursos
      .col-md-4.item-path-mini
        a(href="mysql").hvr-float
          .content-path-head
            .text-center.path-2
              img(src="/images/mysql.png", alt="")
            .title-path Administración de MySQL
          .content2-path-head Aprender a crear ambientes productivos, Failover, Cluster, Seguridad, Escalamiento, rendimiento y monitoreo.
          .time-path-mini.text-center Bases de Datos
          .btn-path-mini.text-center Saber más
        .text-center
          br
          small
              a(href="cursos") Explorar los cursos
      .col-md-4.item-path-mini
        a(href="oracle").hvr-float
          .content-path-head
            .text-center.path-2
              img(src="/images/oracle.png", alt="")
            .title-path Administración de Oracle
          .content2-path-head Aprender a crear ambientes productivos, Failover, Cluster, Seguridad, Escalamiento, rendimiento y monitoreo.
          .time-path-mini.text-center Bases de Datos
          .btn-path-mini.text-center Saber más
        .text-center
          br
          small
              a(href="cursos") Explorar los cursos
      .col-md-4.item-path-mini
        a(href="python").hvr-float
          .content-path-head
            .text-center.path-2
              img(src="/images/python.png", alt="")
            .title-path Programación con Python
          .content2-path-head Aprenderás a estructurar y crear programas con Python, el lenguaje más utilizado actualmente en diferentes áreas de negocio.
          .time-path-mini.text-center Bases de Datos
          .btn-path-mini.text-center Saber más
        .text-center
          br
          small
              a(href="cursos") Explorar los cursos
      .col-md-4.item-path-mini
        a(href="scala").hvr-float
          .content-path-head
            .text-center.path-2
              img(src="/images/scala-icon.svg", alt="")
            .title-path Programación con Scala
          .content2-path-head Aprenderás a estructurar y crear programas con Scala, el lenguaje con mas crecimiento en el mercado. Y lo utilizarás con las librerías más populares y de mayor demanda.
          .time-path-mini.text-center Bases de Datos
          .btn-path-mini.text-center Saber más
        .text-center
          br
          small
              a(href="cursos") Explorar los cursos
      .col-md-4.item-path-mini
        a(href="java").hvr-float
          .content-path-head
            .text-center.path-2
              img(src="/images/icons8-java.svg", alt="")
            .title-path Programación con Java
          .content2-path-head Aprenderás a estructurar y crear programas con Java, el lenguaje que más dispositivos contiene en su lógica interna y a desarrollas aplicaciones medianas y grandes y el mundo web.
          .time-path-mini.text-center Bases de Datos
          .btn-path-mini.text-center Saber más
        .text-center
          br
          small
              a(href="cursos") Explorar los cursos
      
            
  //include empresas.pug
  
  include tecno.pug


  .container.intro1.intr
    .row
      .col-md-6
        img(src="/images/intro1.svg", alt="")
      .col-md-6.text-justify
        h4 Romper la brecha de género
        br
        p En el mundo, del total de desarrolladores las mujeres son sólo el 7.6% vs 88% de hombres. Esta brecha es todavía más grande en la ciencia de datos donde el ratio es de 1 mujer por cada 14 hombres. Creemos que estas diferencias no se deben a falta de talento ni entusiasmo por la tecnología, sino a una marcada desigualdad de oportunidades. En GreenShark queremos apoyar a todas las mujeres que quieran 
          span.support.blue.pointer
            strong romper esta brecha.
  .container.intro1.intr
    .row
      .col-md-6.only-mobile.text-center
        img(src="/images/intro2.svg", alt="")
      .col-md-6.text-justify
        h4 Impulsar  la excelencia
        br
        p Estamos conscientes del increible crecimiento de los productos basados en datos, decisiones de negocio, de producto, mejoras y aprovechamiento de recursos se estan dando en cualquier empresa, por lo que pensamos siempre en dar apoyos a los mejores.
      .col-md-6.no-mobile
        img(src="/images/intro2.svg", alt="")
  .container.intro1.intr
    .row
      .col-md-6
        img(src="/images/intro3.svg", alt="")
      .col-md-6.text-justify
        h4 Datos orientados al negocio
        br
        p Imagina la cantidad de datos que se generan solamente de tus actiidades diarias, como levantarte, tomar un baño, desayunar y salir a tus actividades, ¿Cuánta información se puede obtener de todo esto? y sobre todo ¿Cuales son las mejoras que podrías hacer a tu vida si pudieras manejar esos datos?, en Greenshark te mostramos como mejorar los productos y servicios basados en datos.
  .container.intro1.intr
    .row
      .col-md-6.only-mobile.text-center
        img(src="/images/intro4.svg", alt="")
      .col-md-6.text-justify
        h4 Emprendimiento
        br
        p ¿Tienes una idea de negocio basado en Datos?, ¿Quieres ampliar tus oportunidades laborales? ¿Te gustaría ser parte de la revolución de la inteligencia aritifical? Inscribite a Greenshark y comienza a ser parte del futuro.
      .col-md-6.no-mobile
        img(src="/images/intro4.svg", alt="")
