extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/index.css")
block scripts

block content
  .jumbotron.main-contain.animated.fadeIn
    .container.text-center.punchline
        .col-md-12
          .col-md-10.offset-md-1
            h1.white-text Generamos valor a través de proyectos con herramientras de Ciencia de datos e infraestructura de Big Data
            p.white-text Ciencia de Datos: Escalamiento de modelos a grandes datos, Análisis estadístico, Análisis predictivo, Score de Crédito, Score de fraude, Cliente objetivo, Posicionamiento geográfico, Posicionamiento de marca y más
            p.white-text Data Architecture: ETL, Datawarehouse, Datalake (Cloudera), Administración, Tunning, Gobierno del dato, Seguridad, Modelado de datos, SQL y NoSQL y más
            p.white-text Cloud: Proyectos básados en la nube, obten todo tu back-end en la nube, flexible y a bajo costo, asi como tus modelos e infraestructura y paga solo por lo que uses
        .col-md-12
        .col-md-6.offset-md-3
          .input-group.input-group-lg.form_style.index-form
            input#head-index-form.form-control(type='text', placeholder='E-mail')
            span.input-group-btn
              button.btn.btn-secondary(type='button') Quiero más información
          br
          small.mssg-form
  .container.text-center
      a(href="#")
        i.fa.fa-chevron-down(aria-hidden='true')
  .container.paths-index
    .title Proyectos
    br
    br
    .row
      .col-md-4.item-path-mini
        a(href="#").hvr-float
          .content-path-head
            .text-center.path-1
              img(src="/images/analysis.png", alt="")
            .title-path Infraestructura y Big Data
          .content2-path-head Área especializada en el tratamiento de proyectos con datos masivos, asi como infraestructura de DataWarehouse y DataLake, ETL y procesos administración y seguridad.
          .time-path-mini.text-center -
          .btn-path-mini.text-center
            a.gray.nav-link.direct(href='#') Información
        
      .col-md-4.item-path-mini
        a(href="#").hvr-float
          .content-path-head
            .text-center.path-2
              img(src="/images/data.svg", alt="")
            .title-path Ciencia de datos e Inteligencia Artificial
          .content2-path-head Área especializada en proyectos de modelado de información, utilizando la estadística y la inferencia aplicados a proyectos reales de negocio, mejorando la experiencia de los prouctos actuales.
          .time-path-mini.text-center -
          .btn-path-mini.text-center
            a.gray.nav-link.direct(href='#') Información
        
      .col-md-4.item-path-mini
        a(href="#").hvr-float
          .content-path-head
            .text-center.path-2
              img(src="/images/cloud.svg", alt="")
            .title-path Cloud, Automatización y virtualización
          .content2-path-head Área concentrada en soluciones en la nube con Amazon AWS y Google Cloud Platform, con el fin de reducir costos de implementación en ETL, Machine Learning, Almacenamiento y más.
          .time-path-mini.text-center -
          .btn-path-mini.text-center
            a.gray.nav-link.direct(href='#') Información
        
            
  // include empresas.pug
  
  
