doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Greenshark es una empresa dedicada a la tecnología, a la ciencia de datos y a la Inteligencia Artificial trabajando para America Latina, Asía y Europa')
    meta(name='robots', content='all')
    meta(name='google' content='nositelinkssearchbox')
      
    link(rel='stylesheet', href='https://use.fontawesome.com/4a33440094.css')
    link(rel='stylesheet', href='/vendor/hover.css')
    link(rel='stylesheet', href='/vendor/animate.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
      <!-- Facebook Pixel Code -->
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
      n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
      document,'script','https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '1251048051681715'); // Insert your pixel ID here.
      fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=1251048051681715&ev=PageView&noscript=1"
      /></noscript>
      <!-- DO NOT MODIFY -->
      <!-- End Facebook Pixel Code -->

    block styles
  body
    include form.pug


    nav.navbar.navbar-toggleable-md
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon.animated.fadeInDown
      a.navbar-brand(href='/').animated.fadeInDown
        .nav-logo
            img(src="/images/logo.png", alt="")

      #navbarText.collapse.navbar-collapse
        ul.navbar-nav.pull-xs-right
          li.nav-item
            a.blue.nav-link(href='/') Home
          li.nav-item
            a.blue.nav-link(href='/consulting') Consulting
          li.nav-item
            a.blue.nav-link(href='https://greenshark.blog') Blog
          li.nav-item.only-mobile
            a.blue.nav-link(href='paths') Paths
          li.nav-item.dropdown
            a.blue#dropdown03.no-mobile.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true') Cursos
            .dropdown-menu
                a.dropdown-item(href='data-governance')  Data Governance
                a.dropdown-item(href='introduccion-bigdata')  Introducción a Big Data
                a.dropdown-item(href='bigdata-engineer') Data Engineer
                a.dropdown-item(href='data-solution-architect') Data Solution Architect
                a.dropdown-item(href='introduccion-ciencia-de-datos') Introducción a Ciencia de Datos
                a.dropdown-item(href='data-analyst') Data Analyst
                a.dropdown-item(href='data-models') Machine Learning
                a.dropdown-item(href='data-visualization') Data Visualization
                
                a.dropdown-item(href='introduccion-ciencia-de-datos-r') Data Science con R
                a.dropdown-item(href='bases-de-datos-r') Bases de datos (SQL) y APIs con R
                a.dropdown-item(href='ml-r') Machine Learning con R
                
                a.dropdown-item(href='data-governance') Introducción a Docker
                a.dropdown-item(href='cloud-ccsk') Big data con Docker
                a.dropdown-item(href='elasticsearch') Kubernetes
                
                a.dropdown-item(href='intro-docker') Introducción a Docker
                a.dropdown-item(href='docker-bigdata') Big data con Docker
                a.dropdown-item(href='kubernetes') Kubernetes
                
                a.dropdown-item(href='tableau') Tableau
                
                a.dropdown-item(href='postgresql') PostgreSQL
                a.dropdown-item(href='mysql') MySQL
                a.dropdown-item(href='oracle') Oracle
                
                a.dropdown-item(href='python') Python
                a.dropdown-item(href='scala') Scala
                a.dropdown-item(href='java') Java
                  
                  

                a.dropdown-item.all-kind(href='cursos') Todos los cursos
          li.nav-item.dropdown
            a.blue#dropdown04.no-mobile.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true') Path
            .dropdown-menu
                a.dropdown-item(href='path1') Big Data
                a.dropdown-item(href='path2') Data Science
                a.dropdown-item(href='path4') Data Science con R
                //- a.dropdown-item(href='path3') Data Analysis for Social Sciences
                //
                a.dropdown-item.all-kind(href='paths') Todos los paths

          li.nav-item
            a.blue.nav-link(href='nosotros') Equipo
          li.nav-item
            a.blue.nav-link(href='contacto') Contacto
          li.nav-item.main-register
            a.gray.nav-link.direct(href='#') Información




    block content
    .jumbotron.text-center.register-now
      p.blue
        strong Escribemos y nos comunicaremos contigo.
      br
      .col-md-6.offset-md-3.puchline
          small.message-foot.red
          .input-group.input-group-lg.form_style
            input#footer-form.form-control(type='text', placeholder='E-mail')

            span.input-group-btn
              button.btn.btn-secondary(type="submit") Quiero más información
          br
          small.mssg-form.mssg-color-foot
          br
          a.blue.small(href="cursos")
            strong Explorar cursos
    #map
    .final_foot
      .container
        .row.foot-row
          .col-md-3
              ul
                strong Paths
                li
                  a(href="path1")
                    small  Big Data
                li
                  a(href="path2")
                    small Data Science
                li
                  a(href="path3")
                    small Data Analysis for Social Sciences
                //-
                  li
                  a(href="#")
                  small Introducción a Ciencia de Datos con Python
          .col-md-3
              ul
                strong Cursos
                li
                  a(href="data-governance")
                    small Data Governance
                li
                  a(href="introduccion-bigdata")
                    small Introducción a Big Data
                li
                  a(href="bigdata-engineer")
                    small Data Engineer
                li
                  a(href="data-solution-architect")
                    small Data Solution Architect
                li
                  a(href="introduccion-ciencia-de-datos-r")
                    small Ciencia de Datos con R
                li
                  a(href="bases-de-datos-r")
                    small Bases de Datos con R                  
                li
                  a(href="ml-r")
                    small Machine Learning con R
                li
                  a(href="introduccion-ciencia-de-datos")
                    small Introducción a ciencia de datos
                li
                  a(href="data-analyst")
                    small Data analyst
                li
                  a(href="data-models")
                    small Data Models
                li
                  a(href="data-visualization")
                    small Data Visualization
                li
                  a(href="introduccion-ciencia-de-datos-r")
                    small Introducción a la ciencia de datos con R
                li
                  a(href="bases-de-datos-r")
                    small Bases de datos con R
                li
                  a(href="ml-r")
                    small Machine Learning con R
                li
                  a(href="intro-docker")
                    small Introducción a Docker
                li
                  a(href="docker-bigdata")
                    small Big Data con Docker
                li
                  a(href="kubernetes")
                    small Kubernetes
                li
                  a(href="tableau")
                    small Tableau
          .col-md-6.section3-foot
            small
              a(href="mailto:hola@greenshark.com.mx") hola@greenshark.com.mx
            br
            br
            small
              a(href="tel:(55)-67-09-78-08") (55)-11-07-76-62 |
              a(href="tel:(55)-67-09-78-08") (55)-67-09-78-08
            br
            br
            small Agustin Gutierrez, Delegación Benito Juárez CDMX, México 03340.
            br
            br
            span#siteseal
              <script async type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=Rpx2klQph7NJrRGZgO5lVrirsUiyqN9a0MWO0VTu1qbM74zVzquhqpu8XSaO">                
              </script>
        .text-center.social-icon
          a(href="https://www.facebook.com/GreenSharkMx")
            img(src="/images/face.svg", alt="")
          a(href="https://twitter.com/GreenSharkMx", alt="")
            img(src="/images/tweet.svg", alt="")
          a(href="#")
            img(src="/images/you.svg", alt="")
        .shark.text-center
          img(src="/images/shark.png", alt="")



    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src="https://www.google.com/recaptcha/api.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js', integrity='sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js', integrity='sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn', crossorigin='anonymous')
    script(src="/vendor/janimate.js")
    script(src="/javascripts/validators.js")
    script(src="/javascripts/main.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5AI39fyZxyKYCeDIqDgY3_07flG4yXXA&callback=initMap"
    async defer)
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-99160766-1', 'auto');
        ga('send', 'pageview');

    block scripts
