extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/nosotros.css")
block scripts

block content
  .container.main-contain-slash.animated.fadeIn
    .title NOSOTROS
    br
    br
    .col-12
        .profile.row
            .col-md-4.photoje
                .sq
            .col-md-8.description
                .social-profile
                    a(href="#")
                        img.hvr-float(src="/images/tweet.svg", alt="")
                    a(href="https://www.linkedin.com/in/jorge-alberto-martinez-escandon-a3b0a258/")
                        img.hvr-float(src="/images/lkin.svg", alt="")
                h3 Jorge A. Escandón
                strong.position
                p Jorge tiene 7 años de experiencia en la industria del software, de cualquier plataforma, desde cualquier diseño siempre pensando en los datos, su dominio, su gobierno, su trazabilidad y la explotación que se le pueden hacer a los mismos, Ingeniero en Sistemas computacionales y de Desarrollo de Software ha entregado proyectos desde México, Estados Unidos, Europa y sudamerica.
                
        .profile.row
            .col-md-4.photoaw
                .sq
            .col-md-8.description
                .social-profile
                    a(href="#")
                        img.hvr-float(src="/images/tweet.svg", alt="")
                    a(href="#")
                        img.hvr-float(src="/images/lkin.svg", alt="")
                h3 Ana Laura Vela
                strong.position
                p Ana Laura Vela es matemática aplicada por el Instituto Tecnológico Autónomo de México (ITAM). Ha trabajado con información transaccional para optimizar el ingreso de una de las aerolíneas más importantes de México; con datos de precios y demanda de recipientes de plástico para estimar cantidades a producir y así mejorar la cadena de suministro de una de las empresas de ventas por catálogo más conocidas.
                p Actualmente desarrolla modelos y algoritmos para limpieza y gobierno automático de datos para una de las empresas más rigurosas de Ciencia de Datos en México, así como modelos de asignación de límites de crédito para microfinancieras que atienden al "Bottom of the Pyramid".
        .profile.row
            .col-md-4.photoedgar
                .sq
            .col-md-8.description
                .social-profile
                    a(href="#")
                        img.hvr-float(src="/images/tweet.svg", alt="")
                    a(href="https://www.linkedin.com/in/edgar-quiroz-6242b257/")
                        img.hvr-float(src="/images/lkin.svg", alt="")
                h3 Edgar Quiroz
                strong.position
                p Edgar Quiroz ingeniero en sistemas computacionales del Tecnológico de Irapuato,Desde el inicio me enfoque en aplicaciones iOS para agilizar el proceso de captura y análisis de información. Dadas las limitaciones de los sistemas tradicionales es prácticamente imposible ofrecer estos análisis en tiempo real, y el tiempo en la manufactura es crucial, por lo cual la inclusión de tecnologías Big Data era más que necesario.
                p Actualmente desarrollamos un sistema para el monitoreo de vibraciones e indicadores para manufactura del bajío, se utilizan tecnologías NoSQL como Cassandra para almacenar los datos proporcionados por los sensores, se analizan para obtener el nivel de uptime de cada máquina y por medio de Kafka y Spark se notifica en el momento a los supervisores cuando el downtime excede el permitido por máquina.
        .profile.row
            .col-md-4.photosn
                .sq
            .col-md-8.description
                .social-profile
                    a(href="#")
                        img.hvr-float(src="/images/tweet.svg", alt="")
                    a(href="https://www.linkedin.com/in/salvador-nivardy-tovar-rocha-725a7133/")
                        img.hvr-float(src="/images/lkin.svg", alt="")
                h3 Salvador Nivardy Tovar Rocha
                strong.position
                p Salvador cuenta con 7 años de experiencia en la industria del software, contribuyendo en distintos proyectos principalmente con tecnologías JAVA y orientadas a la JVM. Ingeniero en Sistemas computacionales apasionado del constante aprendizaje y las nuevas tecnologías, ha encontrado en BIG DATA una nueva área de oportunidad para el desarrollo de nuevos servicios y ofertas que ayuden a las empresas a encontrar un valor agregado a los datos que día a día se producen.
                p Actualmente se encarga de la administración del entorno de Businessobjects Objects y Middleware para el área DATA WAREHOUSE de una empresa orientada al servicio de tv satelital y otros productos video e internet.
        .profile.row
            .col-md-4.photobenjamin
                .sq
            .col-md-8.description
                .social-profile
                    a(href="#")
                        img.hvr-float(src="/images/tweet.svg", alt="")
                    a(href="https://www.linkedin.com/in/benjamin-casazza-6079ab11a/")
                        img.hvr-float(src="/images/lkin.svg", alt="")
                h3 Bejamin Casazza
                strong.position
                p Biologo de la UNAM, maestro en sustentabilidad por la UAMA. La trayectoria de Benjamin está formada bajo la convicción de ayudar en la transición de las sociedades sobre la incorporación de la sustentabilidad, bajo la convicción que en un futuro la humanidad agregará a su vida diaria la sustentabilidad, dado que solamente existirá un mundo donde coexista la naturaleza, la economía y las sociedades.
        .profile.row
            .col-md-4.photois
                .sq
            .col-md-8.description
                .social-profile
                    a(href="#")
                        img.hvr-float(src="/images/tweet.svg", alt="")
                    a(href="https://www.linkedin.com/in/isimonin/")
                        img.hvr-float(src="/images/lkin.svg", alt="")
                h3 Irving Simonin Wilmer
                strong.position
                p Irving Simonin es matemático aplicado por el Instituto Tecnológico Autónomo de México (ITAM). Ha trabajado con datos delictivos para desarrollar estrategias de monitoreo de las cámaras de seguridad de la Ciudad de México; con información transaccional para optimizar precios, costos y riesgo en la industria turística y actualmente con texto, imágenes y comportamiento de usuarios para optimización de contenido en uno de los medios más importantes de Latinoamérica.
