extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/path_temp.css")
block scripts

block content

  .container.segment.animated.fadeIn
    .title PATH
    br
    .col-md-12.modal-c
        .row
            .col-md-8.content
                .d-flex.justify-content-between.head-temp
                    h3 Ciencia de Datos con R
                    .time-temp.blue Pregunta por los planes | hola@greenshark.com.mx
                p.text-temp Aprendràs el análisis, adquisición, librerías, buenas practicas y metodologìas para la ciencia de datos con R así como lo nuevo entre Data Minning y Data Science
                .row.dates-temp
                    .col-6.text-center
                        small Fecha de Inicio
                        h3.blue 12 de Febrero
                    .line
                    .col-6.text-center.days
                        small Días del curso
                        h4
                            span.blue L
                            span.blue M
                            span.gray M
                            span.blue J
                            span.gray V
                            span.blue S
                            span.gray D
                .row.niceto
                    .col-6
                        .title-temp Skills
                        br
                        p.gray.text-justify · Programación con bases de datos y fuentes variadas de datos con APIs <br> · Ciencia de datos utilizando <br>· Consultas avanzadas con Dplyr, GGplot, data.table Outliers, FactoMineR, Caret, RMiner, survival, LSMean, entre otros.


                    .col-6
                        .title-temp Pre-requisitos
                        br
                        p.gray.text-justify Laptop con al menos 2GB de RAM. Deseables: Experiencia en algún otro lenguaje de programación, preferible R
                    .col-12
                      .text-center
                        small Recibirás una constancia y diploma con valor curricular al finalizar este curso

            .col-md-4.example
                .share.text-right
                    small.white Compartir:
                    a(href="https://www.facebook.com/GreenSharkMx")
                        img(src="/images/face_b.svg", alt="")
                    a(href="")
                        img(src="/images/tweet_b.svg", alt="")
                .cost.text-center
                    small Costo del Path:
                    h3
                        strong.green Pregunta por nuestros precios y beneficios
                    h5.blue
                        a(href="#").support
                          small Pregunta por nuestros beneficios
                img(src="/images/big.svg", alt="")
                .btn-path
                    .btn.btn-success(onclick="formIn('','1','');") Inscribirme
                    br
                    .text-center
                        a(href="#").support
                            small Aplicar para beca o apoyos
    .time-table-temp
        .row
            .col-md-2.d-flex.align-items-center
                h4.blue Cursos del path
            .col-md-10.contain-time
                .row.item-theme-temp.hvr-float
                    .col-1.d-flex.align-items-center
                        i.fa.fa-chevron-right(aria-hidden='true')
                    .element-temp
                        .row
                            .pic-theme-temp.curso1
                            .descript-theme-tem
                                .row
                                    .info
                                        strong Ciencia de datos con R
                                        br
                                        small.gray R, Workflow, Date, Data import, Pipes y funciones, modelado básico, Model Bulding
                                    .time.d-flex.align-items-center
                                        |8 Semanas (39 hrs)
                .row.item-theme-temp.hvr-float
                    .col-1.d-flex.align-items-center
                        i.fa.fa-chevron-right(aria-hidden='true')
                    .element-temp
                        .row
                            .pic-theme-temp.curso1
                            .descript-theme-tem
                                .row
                                    .info
                                        strong Bases de datos (SQL) y APIs con R
                                        br
                                        small.gray Dplyr avanzado, tm y twitterR, jasonlite, hhtr, RMongo sqldf, Shiny
                                    .time.d-flex.align-items-center
                                        |8 Semanas (39 hrs)
                .row.item-theme-temp.hvr-float
                    .col-1.d-flex.align-items-center
                        i.fa.fa-chevron-right(aria-hidden='true')
                    .element-temp
                        .row
                            .pic-theme-temp.curso1
                            .descript-theme-tem
                                .row
                                    .info
                                        strong Machine Learning con R
                                        br
                                        small.gray RWeka, Regressión Lineal, K-NN, Métodos Bayesianos, Random Forest etc.
                                    .time.d-flex.align-items-center
                                        |8 Semanas (39 hrs)
        .row
            .col-md-2
            .col-md-10
                h2.gray Fin
  .paths-index-cont
      .container.paths-index
        .title Más Paths
        .row
          .col-md-4.item-path-mini
            a(href="path1").hvr-float
              .content-path-head
                .text-center.path-1
                  img(src="/images/big.svg", alt="")
                .title-path Big Data
              .content2-path-head Serás capaz de proponer y elegir tecnologías para montar una arquitectura de Big Data para tu organización o proyecto.
              .time-path-mini.text-center 240 horas (9-12 meses)
              .btn-path-mini.text-center Saber más
            .text-center
              br
              small
                  a(href="cursos") Explorar los cursos
          .col-md-4.item-path-mini
            a(href="path2").hvr-float
              .content-path-head
                .text-center.path-2
                  img(src="/images/data.svg", alt="")
                .title-path Data Science
              .content2-path-head Diseñarás soluciones a problemas diversos siempre agregando valor a tu negocio o proyecto a partir de entender y analizar el fenómeno con datos.
              .time-path-mini.text-center 160 horas (6-9 meses)
              .btn-path-mini.text-center Saber más
            .text-center
              br
              small
                  a(href="cursos") Explorar los cursos
          .col-md-4.item-path-mini
            a(href="path3").hvr-float
              .content-path-head
                .text-center.path-3
                  img(src="/images/social.svg", alt="")
                .title-path Data Analysis for Social Sciences
              .content2-path-head Aprenderás a obtener, estructurar y analizar tu información de manera ordenada y eficiente para entender y comunicar el valor y los mensajes en tus datos.
              .time-path-mini.text-center 120 horas (6-9 meses)
              .btn-path-mini.text-center Saber más
            .text-center
              br
              small
                  a(href="cursos") Explorar los cursos
          .col-md-4.item-path-mini
            a(href="path3").hvr-float
              .content-path-head
                .text-center.path-3
                  img(src="/images/data.svg", alt="")
                .title-path Data Science con R
              .content2-path-head Aprendràs el análisis, adquisición, librerías, buenas practicas y metodologìas para la ciencia de datos con R así como lo nuevo entre Data Minning y Data Science.
              .time-path-mini.text-center 120 horas (6-9 meses)
              .btn-path-mini.text-center Saber más
            .text-center
              br
              small
                  a(href="cursos") Explorar los cursos
        
