extends layout

block styles
  link(rel="stylesheet", href="/stylesheets/nosotros.css")
block scripts

block content
  .container.main-contain-slash.animated.fadeIn
    .title Team Data Science
    br
    br
    .col-12
        .profile.row
            .col-md-4.photois
                .sq
            .col-md-8.description
                .social-profile
                    a(href="#")
                        img.hvr-float(src="/images/tweet.svg", alt="")
                    a(href="https://www.linkedin.com/in/isimonin/")
                        img.hvr-float(src="/images/lkin.svg", alt="")
                h3 Irving Simonin Wilmer
                strong.position
                p Irving Simonin es matemático aplicado por el Instituto Tecnológico Autónomo de México (ITAM). Ha trabajado con datos delictivos para desarrollar estrategias de monitoreo de las cámaras de seguridad de la Ciudad de México; con información transaccional para optimizar precios, costos y riesgo en la industria turística y actualmente con texto, imágenes y comportamiento de usuarios para optimización de contenido en uno de los medios más importantes de Latinoamérica.
