
.main-contain{
	height: 90vh;
	padding-top: 10em;
	background: url(/images/blac-walpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 0;
}






/* *********************** */
/*        Techno           */
/* *********************** */


.txt-techno{
margin: auto;
}

.techno-index i{
	    margin-top: 253%;
}
.tech-options img{
	max-width: 5.8%;
	cursor: pointer;
}

.tech-options img::after{
	width: 10px;
	height: 10px;
	background-color: blue;
}

.techno-index .col-md-1{
	cursor: pointer;
}

.img-techno img{
	width: 100%;
}


/* *********************** */
/*       Intro             */
/* *********************** */

.intr{
	margin-top: 18em;
	margin-bottom: 18em;
}
.intro1 img{
	max-height: 200px;
}
