/* *********************** */
/*        FONTS            */
/* *********************** */

@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Miriam+Libre:400,700');




/* *********************** */
/*        Basics & tools   */
/* *********************** */
a:hover{
	text-decoration: none;
}

.hidden{
	display: none !important;
}
.error{
	padding-top: 18em;
	margin-bottom: 10em;
}
.error strong{
	color: #0098EE;
}

body,a,p,ul,button,.form-control{
	font-family: 'Miriam Libre', sans-serif;
	letter-spacing: 1px;
	font-size: 14px;
}

.main-contain-slash{
	padding-top: 10em;
}

h1{
	font-family: 'Lora', serif !important;
}

.title{
	font-size: 21px;
	font-family: 'Lora', serif !important;
	color: gray;
}

.tools{
	position: fixed;
    right: 19px;
    z-index: 80;
    top: 39vh;
}

.home, .up{
    border: black solid 1.4px;
    margin-top: 1em;
    /* padding: 2em; */
    height: 50px;
    width: 50px;
    padding-top: 25%;
    border-radius: 50%;
    text-align: center;
    opacity: .7;
    cursor: pointer;
}

.home:hover, .up:hover{
	opacity: .2;
	color: black;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}



/* *********************** */
/*        COLOR            */
/* *********************** */

.black {
	color: #FFFFFF !important;
}

.white{
	color: #000000 !important;
}

.white-text{
	color: #f3f3f3 !important;
}

.green{
	color: #00FFFF;
}
.red{
	color: red;
}

.blue{
	color: #19AFFF;
}
.gray{
	color: gray;
}

.pointer{
	cursor: pointer;
}
/* *********************** */
/*        BASICS           */
/* *********************** */


button{
	cursor: pointer;
}

a {
  color: inherit;
}

a:hover {
  color: #00FFFF;
}
/*img:hover{
	opacity: .5;
}*/



/* *********************** */
/*          Navbar         */
/* *********************** */





.scroll-nav{
	  background-color: rgba(240, 248, 255, 0.01);
    padding: 18px;
    width: 100vw;
    position: fixed;
    margin: 0px;
    top: 0;
    left: 0;
}

.main-register .nav-link{
	background-color: #00FFFF;
	border-radius: 4px;
	padding-left: 6px !important;
	padding-right: 6px !important;
	padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.main-register{
	    margin-left: 12px;
    margin-right: 14px;
}

.navbar{
	position: fixed;
	width: 100%;
}

.dropdown-menu{
	background-color: rgba(0, 255, 255, 1);
}

.navbar,.navbar-brand{
	padding-top: 0px !important;
	    z-index: 1;
}

.navbar-nav{
	margin-left: auto;
}

.navbar-light .navbar-nav .active>.nav-link{
	text-align: center;
}

.nav-logo{
	border-radius: 0 0 8px 8px;
	background-color: white;
	box-shadow:0px 0px 6px #cac7c7;
	padding: 25px;
	margin-left: 2em;
}
.nav-logo img{

}

.nav-link{
 font-size: .9em;
 font-weight: bolder;
}

.navbar-toggleable-md .navbar-nav .nav-link{
	    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.scroll-nav .dropdown-menu {

	background-color: aliceblue;

}

.all-kind{
	        color: #294242 !important;
    font-weight: 100 !important;
}

.scroll-nav .dropdown-menu{
	margin-top: 18px;
}

.dropdown-menu{
	border-radius: 0 0 3px 3px;
}


	.dropdown-item {
		font-size: 14px;
	    font-weight: bolder !important;

	    padding: 0px;
		color: #f3f3f3;
		margin-bottom: 10px;
		padding-left: 26px;
		padding-right: 23px;

	    color: rgba(0,0,0,.7);

	}
.dropdown-menu{

	border:0px;
}

.dropdown-item:focus, .dropdown-item:hover{
	background-color: rgba(0,0,0,0);

}

/* *********************** */
/*         FOOTER          */
/* *********************** */



.register-now{
		background: url(/images/u_purple.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	margin-top: 30px;
	border-radius: 0px;
	margin-bottom: 0;
}

.register-now .form-control{
	border:0px;
}

.register-now .btn{
	background-color: #00FFFF;
	border: 0px;
}

.register-now .btn:hover{
	border: 0;
}


      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 300px;
      }
      /* Optional: Makes the sample page fill the window. */


.section3-foot{
		border-left: .5px solid gray;
		padding-left: 10em;
}

.foot-row li{
list-style-type: none;
    padding-left: 19px;
    padding-top: 10px;
}


.foot-row{
	padding-top: 50px;
	padding-bottom: 80px;
}

.foot-row>div{
	padding-top: 80px;

}



.social-icon img{
	height: 22px;
	margin:20px;
}

.shark{
	margin-top: 20px;
}

/* *********************** */
/*     FORM              */
/* *********************** */

.btn{
	cursor: pointer;
}

.mssg-form{
	color: #ef49b1;

}
.mssg-form-final{
	border-radius: 7px;
    color: #4e1421;
    background: rgb(255, 0, 0);
    padding: 5px;
}
.mssg-color-foot{
	color: #922569;
}

.ok-form{

	border: 2px solid cyan !important;
    border-right: 0 !important;
}
.not-form{


}
.punchline{
	    top: 16vh;
    position: relative;
}

.form_style{
	z-index: 0;
}

.punchline .btn{
	background-color: #00FFFF;
	border:0;
}

.punchline .form-control{
	border:0;
}

.form_style{
	box-shadow: 0 0px 7px 1px rgba(52, 53, 60, 0.25);
    border-radius: 10px;
}
.form-control{
	font-size: 14px !important;
}

.input-group-lg>.input-group-btn>.btn,.input-group-lg>.form-control {
	padding: 1rem 1.5rem
}

.input-group-lg>.input-group-btn>.btn:hover{
	background-color: #00ffde;
	color: white;
}

.input-group-lg>.input-group-btn>.btn{
	font-size: 14px;
	font-weight: 800;
}

/* *********************** */
/*     Form In             */
/* *********************** */

.form-in{
	position: fixed;
    height: 100vh;
    overflow: scroll;
    background-color: black;
    z-index: 20000;
	padding-top: 2em;
    z-index: 100000000;
    background-color: rgba(60, 62, 80, 0.92);
    width: 100vw;
    display: flex;
}

.register-in{
	border: 3px solid whitesmoke;
    border-radius: 6px;
    color: whitesmoke;
    padding: 3em;
    max-width: 500px;
        display: inline-table;
    margin-bottom: 3em;

}



.form-in input, .form-in select, .form-in textarea{
    border: 1px solid whitesmoke;
    padding: 1.1em;
    border-radius: 6px;
        background-color: rgba(45, 45, 49, 0.58);
        color: whitesmoke;
    font-weight: 100;
    letter-spacing: 1px;

}
.req{
	color: red;
}

.form-in .btn{
	width: 100%;
	padding: 1.2em;
	margin-top: .5em;
	 margin-top: .8em;
    background-color: cyan;
    border: 0;
    color: #212227;
    font-weight: 800;
}

.remove-in{
	cursor: pointer;
	font-size: 2em;
	float: right;
}
/* *********************** */
/*        PATHS            */
/* *********************** */
.paths-index{
	margin-bottom: 4em;
}

.paths-index .row .col-md-4 .content-path-head{

	background-color: #3C3E50;
	border-radius: 7px 7px 0 0;
	padding: 1em;
	box-shadow: 0 0px 7px 1px rgba(52, 53, 60, 0.25);
	min-height: 180px;
	position: relative;

}
 .content-path-head{

	background-color: #3C3E50;
	border-radius: 7px 7px 0 0;
	padding: 1em;
	box-shadow: 0 0px 7px 1px rgba(52, 53, 60, 0.25);
	min-height: 180px;
	position: relative;

}
.title-path{
	position: absolute;
	bottom: 15px;
    font-family: 'Lora';
    color: #f3f3f3;
    font-size: 19px;
}

.content2-path-head{
	background-color: white;
	box-shadow: 0 0px 7px 1px rgba(52, 53, 60, 0.25);
	text-align: justify;
	font-size: 14px !important;
	padding: 1.5em;

}

.content-path-head img{
    position: absolute

}
.path-1 img{
    left: 0%;
    top: -44%;
}

.path-2 img{
    left: 30%;
    top: -22%;
    height: 100%;
}

.path-3 img{
    left: 3%;
    top: -11%;
    height: 138%;
}

.time-path-mini{
	padding: 1em;
	background-color: #19AFFF;
	color:#1F1E1E;
	font-size: 14px;
	font-weight: 800;
	box-shadow: 0 0px 7px 1px rgba(52, 53, 60, 0.25);
	    position: relative;
    z-index: 1;

}

.btn-path-mini{
	padding: 1.3em;
	background-color: #00FFFF;
	color:#1F1E1E;
	font-size: 14px;
	font-weight: 800;
	border-radius: 0 0 7px 7px;
	cursor: pointer;
	box-shadow: 0 0px 7px 1px rgba(52, 53, 60, 0.25);

}

.btn-path-mini:hover,.item-path-mini:hover{
	opacity: .9;
}

.item-path-mini{
	cursor: pointer;
	margin-top: 5em;
}


/* *********************** */
/*     Cursos              */
/* *********************** */
.path-select.course-form-2

.segment{
	padding-top: 10em;

}

.top{
	background-color: yellow;
	border-radius: 8px 8px 0 0 ;

}

.sq{
	padding-top: 50%;
}

.bottom{
	padding: 2em;
	border-radius: 0 0 8px 8px;
	background-color: white;
}

.time{
	color: #19AFFF;
}

.one-segment{
	cursor: pointer;
	    box-shadow: 0 0 6px 0px #a5a5a5;
	    border-radius: 8px;
	    margin-bottom: 3em;
}

.tag{
	width: 100%;
	text-align: right;
	padding-right: 20px;
	    padding-top: 9px;
}

.lett{
	display: inline;
	padding: 10px;
	top: 0px;
	background-color:#08FFBE;
	border-radius: 0 0 8px 8px;
}

.curso1{
	background-image: url(../images/curso1.png);
	background-size: cover;
}
.curso2{
	background-image: url(../images/curso2.png);
	background-size: cover;
}
.curso3{
	background-image: url(../images/curso3.png);
	background-size: cover;
}

/* *********************** */
/*     Media               */
/* *********************** */


.only-mobile{
	display: none;
}

@media (max-width: 992px) {

.path-3 img{
	width: 100%;
}

.punchline{
	top: initial;
	position: initial;
	    margin-top: 6em;
}

.main-contain{
	height: inherit !important;
}
	.nav-logo{
		    margin-left: 0;
	}
	.navbar-brand{
		margin-right: 0px;
	}

	.navbar-light .navbar-toggler{
		    margin-top: 24px;
    		margin-right: 20px;
		border:0px;
		z-index: 2;
	}
	.navbar, .navbar-brand{
		/*background-color: whitesmoke;*/
	}

	.navbar{

		height: initial;
	}
	.navbar-collapse{
		    background-color: rgba(255, 253, 253, 0.9);
    padding: 23px;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
	}
	.main-contain{
		    padding-top: 4em !important;
	}

	.section3-foot{
		padding-left: 4em;
	}

	.no-mobile{
		display: none !important;
	}
	.only-mobile{
		display: block;
	}



	.tech-options img {
    max-width: 33.33% !important;
    cursor: pointer;

		}
	.tech-options{
		display: block !important
	}
	.intr{
		margin-top: 3em !important;
    margin-bottom: 3em !important;
	}
	.intro1 img{
		margin-bottom: 2em;
	}


}

@media (max-width: 992px) and (min-width: 768px){
.paths-index {
    width: 100%;
    max-width: 100%;
}




}

@media (max-width: 600px) {
	.input-group-lg>.input-group-btn>.btn{
		    padding-left: 10px;
    		padding-right: 10px;
	}

	h1{
		font-size: 2em;
	}
}
